﻿@{
    ViewBag.Title = "Ranking";
    var cityOptions = (string[])ViewData["cityOptions"];
    var weatherParameters = (string[])ViewData["parameters"];
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script> *@

<h2>Ranking</h2>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row form-group">
            <div class="col-6">
                <label for="citySelect">Wybierz miasto:</label>
                <select id="citySelect" class="form-control w-100" onchange="onCityChanged(this)">
                    <option value="All">Wszystkie</option>
                    @foreach (var option in cityOptions)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label for="weatherParamSelect">Wybierz parametry:</label>
                <select id="weatherParamSelect" class="form-control selectpicker" title="Wybierz parametry..."
                        multiple data-actions-box="true" data-select-all-text="Zaznacz wszystko" data-deselect-all-text="Odznacz wszystko"
                        onchange="onWeatherParamsChange(this)">
                    @foreach (var param in weatherParameters)
                    {
                        <option value="@param">@param</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="labelCheck" onchange="showLabels(this)" />
            <label class="form-check-label" for="labelCheck">Pokaż etykiety</label>
        </div>
        <canvas id="accuracyRanking"></canvas>
    </div>
</div>

<script>
    var apis = [], accuracies = [];
    var accuracyRanking;
    var city = "All", parameters = [];

    function onCityChanged(selectMenu) {
        selectMenu.disabled = true;
        city = selectMenu.value;
        GetAccuracyData();
    }

    function onWeatherParamsChange(selectMenu) {
        selectMenu.disabled = true;
        parameters = [];
        for (var i = 0; i < selectMenu.selectedOptions.length; i++) {
            parameters.push(selectMenu.selectedOptions[i].label);
        }
        GetAccuracyData();
    }

    function GetAccuracyData() {
        apis = [];
        accuracies = [];
        $.ajax({
            url: '@Url.Action("GetAccuracyDataJson")',
            traditional: true,
            data: {
                cityName: city,
                weatherParams: parameters
    },
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                json = JSON.parse(response);
                for (var api in json) {
                    apis.push(api);
                    accuracies.push(json[api]);
                }
                DrawAccuracyChart();
                var selects = document.getElementsByTagName('select');
                for (var i = 0; i < selects.length; i++) {
                    selects[i].disabled = false;
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function DrawAccuracyChart() {
        var ctx = document.getElementById('accuracyRanking').getContext('2d');
        if (accuracyRanking != null) {
            accuracyRanking.config.data.labels = apis;
            accuracyRanking.config.data.datasets[0].data = accuracies;
            accuracyRanking.update();
        } else {
            accuracyRanking = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: apis,
                    datasets: [
                        {
//                    label: 'Accuracy',
                            data: accuracies,
                            backgroundColor: [
                                'rgba(255, 223, 0, 0.6)',
                                'rgba(180, 180, 180, 0.6)',
                                'rgba(106, 56, 5, 0.6)',
                                'rgba(153, 204, 255, 0.4)',
                                'rgba(153, 204, 255, 0.4)'
                            ],

                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    plugins: {
                        datalabels: {
                            display: false,
                            anchor: 'start',
                            clamp: true,
                            align: 'right',
                            color: 'black',
                            formatter: function(value) {
                                return Math.round(value * 100) / 100 + "%";
                            }
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return tooltipItem.yLabel;
                            },
                            title: function (tooltipItem, data) {
                                var value = Math.round(tooltipItem[0].xLabel * 100) / 100;
                                return value + "%";
                            }
                        }
                    },
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'API'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Trafność [%]'
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    }

    function showLabels(labelCheckbox) {
        if (accuracyRanking == null) return;
        accuracyRanking.options.plugins.datalabels.display = labelCheckbox.checked;
        accuracyRanking.update();
    }

    GetAccuracyData();

</script>
