﻿@{
    ViewBag.Title = "Dane pogodowe";
    var cityOptions = (string[])ViewData["cityOptions"];
    var parameterOptions = (string[]) ViewData["parameterOptions"];
}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label for="citySelect">Wybierz miasto:</label>
                <select class="form-control" id="citySelect" onchange="GetWeatherData(this)">
                    @foreach (var option in cityOptions)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            </div>
            <div class="col-12 col-md-6">
                <label for="parameterSelect">Wybierz parametr:</label>
                <select class="form-control" id="parameterSelect" onchange="UpdateChart(this)">
                    @* <option value="All">Wszystkie</option> *@
                    @foreach (var option in parameterOptions)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            </div>
        </div>
        @* <div class="row"> *@
            @* <button type="button" class="btn btn-light" onclick="createCSV()">Stwórz plik CSV</button> *@
        @* </div> *@
        </div>
    <div class="col-10">
        <canvas id="parameterChart"></canvas>
    </div>
</div>

<script>
    var dates = [], observations = [], forecasts = [], parameterChart,
        city = "Krakow", parameter = "Cisnienie";

    var apiColors = {
        'OpenWeather': 'rgba(223, 110, 80, 1)',
        'Weatherbit': 'rgb(146, 210, 252)',
        'DarkSky': 'rgb(51, 51, 51)',
        'VisualCrossing': 'rgb(1, 87, 148)',
        'ClimaCell': 'rgb(91, 177, 228)'
    };

    function GetWeatherData(selectedCity) {
        dates = [];
        if (selectedCity != null) city = selectedCity.value;

        $.ajax({
            url: '@Url.Action("GetWeatherDataJson")',
            data: {
                cityName: city
            },
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                weatherList = JSON.parse(response);
                dates = weatherList.WeatherDates;
                ConstructDatasets();
                DrawParameterChart();
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function ConstructDatasets() {
        forecasts = [];
        observations = [];

        for (var i = 0; i < weatherList.ObservedWeather.length; i++) {
            observations.push(weatherList.ObservedWeather[i][parameter]);
        }

        forecasts.push({
            label: 'IMGW',
            data: observations,
            fill: false,
            borderColor: 'red'
        });

        for (var api in weatherList.ForecastWeather) {
            forecasts.push({
                label: api,
                data: GetForecastApiArray(api),
                fill: false,
                borderColor: apiColors[api]
            });
        }
    }

    function GetForecastApiArray(api) {
        var f = [];
        for (var i = 0; i < weatherList.ObservedWeather.length; i++) {
            f.push(weatherList.ForecastWeather[api][i][parameter]);
        }
        return f;
    }

    function UpdateChart(selectedParameter) {
        if (selectedParameter != null) parameter = selectedParameter.value;
        ConstructDatasets();
        parameterChart.config.data.datasets = forecasts;
        parameterChart.update();
    }

    function DrawParameterChart() {
        var ctx = document.getElementById('parameterChart').getContext('2d');
        if (parameterChart != null) {
            UpdateChart();
        } else {
            parameterChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: forecasts
                },
                options: {
                    plugins: {
                        datalabels: {
                            display: false
                        }
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
        }
    }

    function showLabels(labelCheckbox) {
        if (parameterChart == null) return;
        parameterChart.options.plugins.datalabels.display = labelCheckbox.checked;
        parameterChart.update();
    }

    GetWeatherData();
</script>
