﻿
@{
    ViewBag.Title = "O wykorzystanych API";
}

<div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b4/ClimaCell_Logo.png" class="card-img-top p-2" alt="ClimaCell logo" />
            <div class="card-body">
                <h5 class="card-title">ClimaCell</h5>
                <p class="card-text">
                    ClimaCell działa od 2015r. w Stanach Zjednoczonych. Oprócz API oferują też własną platformę do prognoz pogody HyperCast, aplikację mobilną Weather Assistant (dostępną na telefony z systemem Android lub iOS) oraz WAI (Weather for AI) – historyczne dane meteorologiczne do zastosowania głównie w technikach trenowania sztucznej inteligencji. Firma współpracuje m.in. z Fordem i Harvard Innovation Lab.
                </p>
                <a href="https://www.climacell.co/" class="btn btn-primary">Strona internetowa</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img src="https://seeklogo.com/images/D/dark-sky-logo-4BFDDE2CB5-seeklogo.com.png" class="card-img-top p-2" alt="Dark Sky logo" />
            <div class="card-body">
                <h5 class="card-title">Dark Sky</h5>
                <p class="card-text">
                    The Dark Sky Company to amerykańska spółka założona w 2012r. Początkowo niezależna, jednak w 2020 roku wykupiona przez Apple Inc. W związku z tym zaczęto wprowadzać ograniczenia dotyczące dostępu do prognoz oferowanych przez spółkę, m.in. wyłączenie aplikacji mobilnej dostępnej w systemie Android oraz ograniczenie dostępu do API. Interfejs ma być dostępny do końca 2021 roku dla już istniejących użytkowników. Pomimo tych ograniczeń zdecydowano zawrzeć prognozę Dark Sky w analizie, ponieważ aplikacja wciąż będzie rozwijana dla systemu iOS.
                </p>
                <a href="https://darksky.net/" class="btn btn-primary">Strona internetowa</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/OpenWeather-Logo.jpg" class="card-img p-2" alt="OpenWeather logo" />
            <div class="card-body">
                <h5 class="card-title">OpenWeatherMap</h5>
                <p class="card-text">
                    OpenWeather to brytyjski zespół programistów i analityków istniejący od 2012 roku. Większość oferowanych przez nich usług można wykorzystać za darmo, jednak z pewnymi ograniczeniami. Prognozy są opracowywane na podstawie danych zarówno publicznych, jak i z prywatnych stacji synoptycznych.
                </p>
                <a href="https://openweathermap.org/" class="btn btn-primary">Strona internetowa</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img src="https://www.visualcrossing.com/images/general/VCLogo2x.png" class="card-img p-2" alt="Visual Crossing logo" />
            <div class="card-body">
                <h5 class="card-title">Visual Crossing</h5>
                <p class="card-text">
                    Visual Crossing istnieje od 2003 roku i posiada siedziby w Stanach Zjednoczonych i w Niemczech. Oprócz sporządzonych przez siebie danych dotyczących prognoz i m.in. historycznych danych meteorologicznych oferują także szereg rozwiązań przydatnych w analityce danych. Są to np. narzędzia do analizy danych pogodowych, a także platforma wspomagająca przedstawianie danych geoprzestrzennych na mapach.
                </p>
                <a href="https://www.visualcrossing.com/" class="btn btn-primary">Strona internetowa</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img src="https://www.weatherbit.io/static/img/logo-md.png" class="card-img p-2" alt="Weatherbit logo" />
            <div class="card-body">
                <h5 class="card-title">Weatherbit.io</h5>
                <p class="card-text">
                </p>
                <a href="https://www.weatherbit.io/" class="btn btn-primary">Strona internetowa</a>
            </div>
        </div>
    </div>
</div>
