﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    @* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>
<body class="pt-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="../../Content/img/logo.png" height="60"/>
    </a>
    @* @Html.ActionLink("<img src='../../Content/img/logo.png' class='navbar-brand' height='60'/>", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"}) *@
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Rozwiń">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Strona główna", "Index", "Home", new {area = ""}, new {@class = "nav-link"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Ranking", "Ranking", "Weather", new {area = ""}, new {@class = "nav-link"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Dane", "WeatherData", "Weather", new {area = ""}, new {@class = "nav-link"})

            </li>
            <li class="nav-item">
                @Html.ActionLink("O aplikacji", "About", "Home", new {area = ""}, new {@class = "nav-link"})
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid body-content mt-3">
    @RenderBody()
    <hr />
    <footer>
        <p>Analiza trafności prognoz pogody</p>
    </footer>
</div>
</body>
<script>
    var item = document.querySelector(".nav-item a[href='" + window.location.pathname + "']");
    item.classList.add("active");
</script>
</html>
